# Chef
.chef/*.pem
.chef/encrypted_data_bag_secret
.chef/syntaxcache/

.vagrant/
VagrantFile

# Ruby
.rake_test_cache
.rvmrc
.rbenv-version

# SublimeText
*.sublime-workspace

# Vim
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
